<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="elForm" (submit)="doLogin()" >
    <ion-item>        
      <ion-icon class="ion-padding-end" name="person-outline"></ion-icon>
      <ion-label for="email"> Email: </ion-label>
      <ion-input formControlName="email" id="email"  required></ion-input>
      <div *ngIf="elForm.get('email').touched && (elForm.get('email').hasError('required') || elForm.get('email').hasError('email'))" >No válido!</div>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon class="ion-padding-end" name="key-outline"></ion-icon>
      <ion-label for="password"> Password: </ion-label>
      <ion-input formControlName="password" id="password" required></ion-input>    
      <div *ngIf="elForm.get('password').touched && elForm.get('password').hasError('required')">Obligatorio!</div>
    </ion-item>                    
    <br>
    <ion-button type="submit" color="tertiary" expand="block" shape="round" [disabled]="!elForm.valid">Enviar</ion-button>
  </form>
   
  
</ion-content>
